
/***************Nav bar******************/

/***TODO: Set min-width for navbar****/
.header {
  z-index: 99;
  font-size: 30px;
  background-color: #AC3791;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  box-sizing: content-box;
  position: absolute;
}

.nav-container {
  margin: 0 auto;
  padding-right: 45px;
  padding-left: 45px;
  display: flex;
  justify-content: space-between;
}

.header .nav-link {
  padding-top: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.header .nav-link:hover {
  text-decoration: underline;
}

.header .nav-form {
  padding-top: 25px;
}

.nav-container .nav-title {
  width: 80px;
  color: #B9F0FF;
}

/***************Banner******************/

/***TODO: Adjust Size***/
.banner-container {
    margin-top: -60px;
}

.banner-container img {
    width: 100%;
}

/***************Popular Books************/
.highlights {
    text-align: center;
    margin: 0 auto;
}

.highlights h1 {
    font-size: 40px;
}

.highlights-images {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.highlights-images img {
    transition: all 0.25s;
}

.highlights-images img:hover {
    transform: translateY(-0.4em);
    opacity: 0.75;
}

/***************Genres******************/
.topics {
    text-align: center;
    margin: 0 auto;    
}
.overall{
  display:flex;
}
.container {
  flex: 33.33%;
  padding: 5px;
  align-items: center;
  position: absolute;
}
.text1 {
  position: absolute;
}

 /* .genre-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .genre-images > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
  }

  .box {
      margin-top: 20px;
  }

  .gimage {
       height: 20vh;
  }*/

/************WWBI**********************/
.WWBI {
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
}

.WWBI-images {
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.WWBI-images img {
    transition: all 0.25s;
}

.WWBI-images img:hover {
    transform: translateY(-0.4em);
    opacity: 0.75;
}

.segments {
  width: 100%;
  text-align: center; 
}

.WWBI-segment {
  width: 470px;
  display: inline-block; 
  font-size: 30px;
}


/***************Webpage******************/
body {
  font-family: 'Acme', sans-serif;
  background-color: #B9F0FF;
  margin: 0;
}
