/*TODO: Fill all this out to style whatever is between header and footer*/
/********Subscribe Heading*********/

.heading-text {
    position: absolute;
    font-size: 3.0vw;
    text-align: center;
    color: #AC3791;
}

/**************Forms***************/
.forms {
    margin: 0 auto;
    width: 50%;
    position: relative;
    font-size: 2vw;
    font-family: "Jost", sans-serif;
}

.form-container {
    margin: 30px auto;
    width: 100%;
}

.label {
    color: #505F98;
}

.form {
    position: absolute;
    right: 0;
    font-size: 2vw;
    font-family: "Jost", sans-serif;
}
