/*TODO: Fill all this out to style whatever is between header and footer*/
/********Login Heading*********/
.heading {
    margin: 50px auto;
    width: 40%;
    position: relative;
}

.heading-text {
    top: 0;
    left: 0;
    position: absolute;
    font-size: 3.0vw;
    text-align: center;
    color: #AC3791;
}

/**************Forms***************/
.forms {
    /**margin: 0 auto;
    width: 50%;**/
    position: relative;
    font-size: 2vw;
    font-family: "Jost", sans-serif;
}

.form-container {
    /*margin: 30px auto;
    width: 100%;*/
}


.form {
    position: absolute;
    font-size: 2vw;
    font-family: "Jost", sans-serif;
}
