/*TODO: Fill all this out to style whatever is between header and footer*/
/********Login Heading*********/
.heading {
    position: relative;
}

.heading-text {
    position: absolute;
    font-size: 3.0vw;
    text-align: center;
    color: #AC3791;
}

/**************Forms***************/
